
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
 
}
img {
  max-width: 100%;
  display: block;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul{
  list-style: none;
}

nav{
  color: #381FD1;
  background-color:    #f6f6eb;
  display: flex;
  font-size: 16px;
  font-family: "Hanken Grotesk", serif;
  font-weight: 900;
  justify-content: space-around;
  padding: 16px;
  /* border: 2px lime solid; */
}

.left_ul{
       display: flex;
      gap:10px;
      align-items: center;
}
.right_ul{
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo{
          max-width: 70px;
          max-height: 70px;
}
.trial{
  background-color: #381FD1;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.container{
  width: 80%;
  /* border: 2px red solid; */
  margin: 0px auto;
  padding-top: 80px;
}
.search--box{
  padding: 10px 40px;
}


main{
  background-color:   #fff;
}
footer{
  background-color:   #11284b;
}
.hero{
display: flex;

}

.library_section{
  margin-left:4rem;
  h2{
    font-family: "Hanken Grotesk", serif;
    font-weight: 900;
    line-height: 1.1;
    font-size: 3rem;
  }

  p{
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
.search_section{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 280px;
  min-width: 280px;
  font-family: "Hanken Grotesk", serif;

}
.Hero---grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Hanken Grotesk", serif;
  /* border: 2px solid limegreen; */
  gap: 32px;
  padding-top: 20px;
}
.grid-items{
  border: 0.8px solid #e5e5e6;
  border-radius: 5px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap:15px;

  h4{
    color: #381FD1;
  }

h3{
  font-size: 1.5rem;
  font-weight: 900;
}

}
.grid--icons{
  max-width: 40px;
height: auto;
}
.submit{
background-color: #f3f2fc;
border-radius: 5px;
padding: 1.5rem;
margin-top: 1.5rem;


h4{
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #11284b;
}

p{
  font-size: 1rem;
 
  color: #11284b;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}


}
a{
  /* min-height: 44px; */
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  background-color: #381FD1;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  text-align: center;


}

.categories{
  padding: 16px 0 16px 1.25rem;
}
.text--home{
  padding: 16px 0 16px 20px;
}
.text--collections{
  padding: 16px 0 16px 20px;
}